@charset: "UTF-8";

@media screen and (max-width: 844px){
    .container-image-clock {
        flex-direction: column;
    }
    .container-image-clock h1 {
        text-align: center;
        padding: 5px;
    }
    .container-countDays .time {
        border: none;
    }
    .container-countDays {
        width: 100%;
    }
    .buttons button {
        width: 150px;
        height: 50px;
    }
}
